.weeklyMenu{
    height: fit-content;
}
.weeklyMenu__title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    color: gray;
    text-transform: uppercase;
}
@media screen and (max-width: 300px){
    .weeklyMenu__title{
        font-size: 12px;
    }
}